@page
@model ArgoCMS.Pages.Admin.Comments.JobComments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>JobComment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobComment.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobComment.Owner.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobComment.CommentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobComment.CommentText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobComment.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobComment.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobComment.Job)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobComment.Job.AssignedEmployeeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JobComment?.CommentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
