@page
@model ArgoCMS.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
