@page
@model ArgoCMS.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h2>Your Projects</h2>
@if ((await AuthorizationService.AuthorizeAsync(User, new Project(), ArgoAuthOperations.Create)).Succeeded)
{
    <a asp-page="Create">Create New</a>
}
<div class="row">
    @foreach (var item in Model.EmployeeProjects)
    {
        <div class="col-xl-3 col-md-6 col-xl-6 mb-2">
            <div class="card bg-team_dashboard_blue">
                <a asp-page="ProjectHome/Index" asp-route-projectId="@item.ProjectId" class="text-decoration-none">
                    <div class="card-body text-snow-white text-center db-ql">
                        <p class="mb-0">@item.Project.ProjectName</p>
                    </div>
                </a>
                <div class="list-group list-group-horizontal">
                    <a asp-page="/Jobs/Create" asp-route-projectId="@item.ProjectId" asp-route-id="@item.Project.ProjectId" class="list-group-item list-group-item-action dashboard-quick-link text-center">
                        Create Job
                    </a>
                    <a asp-page="/Notices/Create" asp-route-projectId="@item.ProjectId" asp-route-id="@item.Project.ProjectId" class="list-group-item list-group-item-action dashboard-quick-link text-center">
                        Create Notice
                    </a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, item.Project, ArgoAuthOperations.Create)).Succeeded)
                    {
                        <a asp-page="Edit" asp-route-id="@item.Project.ProjectId" class="list-group-item list-group-item-action dashboard-quick-link text-center">
                            Edit Project
                        </a>
                        <a asp-page="Delete" asp-route-id="@item.Project.ProjectId" class="list-group-item list-group-item-action dashboard-quick-link text-center">
                            Delete Project
                        </a>                    
                    }
                </div>
            </div>
        </div>
    }
</div>