@page
@model ArgoCMS.Pages.Admin.Notices.IndexModel

@{
    ViewData["Title"] = "Notices";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Admin/Notices</h1>
<partial name="_AdminNavPartial" />

<h1>Notices</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].NoticeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].NoticeMessageContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice[0].PublicityStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeMessageContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicityStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NoticeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NoticeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NoticeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
