@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h1>@Model.Employee.FullName</h1>
<h4>@Model.Role</h4>
<hr />

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Details</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless text-white">
                    <tbody>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(modelItem => modelItem.Employee.Id)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Employee.Id)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Teams</strong>
                            </td>
                            <td>
                                @foreach (var item in Model.Teams)
                                {
                                    <a asp-page="/Teams/Index" asp-route-teamId="@item.TeamId">
                                        @Html.DisplayFor(modelItem => item.TeamName)
                                    </a>
                                    <br/>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(modelItem => modelItem.Employee.EmploymentDate)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Employee.EmploymentDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(modelItem => modelItem.Employee.Email)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Employee.Email)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>@Html.DisplayNameFor(modelItem => modelItem.Employee.PhoneNumber)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Employee.PhoneNumber)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <h3>@Model.NumOfCompletedJobs</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-warning bg-gradient text-black">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-0">Tasks completed</p>
                    </div>
                    <div class="col-3">
                        <img src="~/images/task-list.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <h3>@Model.NumOfCompletedProjects</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-warning bg-gradient text-black">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-0">Completed Projects</p>
                    </div>
                    <div class="col-3">
                        <img src="~/images/target.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Reports To</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 text-center d-flex flex-column align-items-center">
                        <div class="rounded-avatar" id="reportsToAvatar">
                            @Model.ReportsTo.Initials
                        </div>
                        <a class="link link-light" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@Model.ReportsTo.Id">
                            <p class="mb-0">@Html.DisplayFor(modelItem => modelItem.ReportsTo.FullName)</p>
                        </a>
                        <p class="mb-0">Role</p>
                    </div>
                    <div class="col-4 text-center">
                        <img src="~/images/arrow-square-right.svg" class="white-svg-filter"/>
                        <p class="mb-0"><small>Reports To</small></p>
                    </div>
                    <div class="col-4 text-center  d-flex flex-column align-items-center">
                        <div class="rounded-avatar" id="reportsToBossAvatar">
                            @Model.ReportsToBoss.Initials
                        </div>
                        <a class="link  link-light" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@Model.ReportsToBoss.Id">
                            <p class="mb-0">@Html.DisplayFor(modelItem => modelItem.ReportsToBoss.FullName)</p>
                        </a>
                        <p class="mb-0">Role</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let reportsToAvatar = document.getElementById("reportsToAvatar");
        let reportsToBossAvatar = document.getElementById("reportsToBossAvatar");

        reportsToAvatar.style.backgroundColor = RandomColour();
        reportsToBossAvatar.style.backgroundColor = RandomColour();

        function RandomColour() {
            // Generate a random color (you can define an array of colors)
            const colors = ["#FF5733", "#33FF57", "#5733FF", "#FF33E9"];
            const randomIndex = Math.floor(Math.random() * colors.length);
            return colors[randomIndex];
        }

    </script>
}
