@page
@model ArgoCMS.Pages.Employees.IndexModel

@{
	ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<table class="table table-striped table-hover table-light">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Employees[0].Employee.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Employees[0].Employee.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Employees[0].Employee.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Employees[0].Employee.EmploymentDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Employees[0].Role)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Employees[0].Employee.Email)
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
@foreach(var e in Model.Employees)
{
		<tr>
			<td>
					@Html.DisplayFor(modelItem => e.Employee.FirstName)
			</td>
			<td>
					@Html.DisplayFor(modelItem => e.Employee.LastName)
			</td>
			<td>
					@Html.DisplayFor(modelItem => e.Employee.UserName)
			</td>
			<td>
					@Html.DisplayFor(modelItem => e.Employee.EmploymentDate)
			</td>
			<td>
					@Html.DisplayFor(modelItem => e.Role)
			</td>
			<td>
					@Html.DisplayFor(modelItem => e.Employee.UserName)
			</td>
			<td>
					<a asp-page="./Details" asp-route-id="@e.Employee.Id">Details</a> |
			</td>
		</tr>
}
	</tbody>
</table>