@page
@model ArgoCMS.Pages.Notices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Notices</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model.Notices)
    {
        <div class="col-sm-12 col-md-12 mb-2">
            <div class="card bg-dark_blue text-snow-white mb-2">
                <div class="card-body">
                    <h5 class="card-title">@item.NoticeTitle</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created: @item.DateCreated</h6>
                    <p class="card-text">@item.NoticeMessageContent</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-team_dashboard_blue text-snow-white">
                        @switch (item.PublicityStatus)
                        {
                            case PublicityStatus.Project:
                                @($"Project: {item.Project.ProjectName}")
                                break;
                            case PublicityStatus.Team:
                                @($"Team: {item.Team.TeamName}")
                                break;
                            case PublicityStatus.Company:
                                @("Company Wide")
                                break;
                        }
                        </li>
                    </ul>                    
                </div>
                <div class="card-footer">
                    <a asp-page="./Edit" asp-route-id="@item.NoticeId" class="card-link">Edit</a>
                    <a asp-page="./NoticeDetails" asp-route-id="@item.NoticeId" class="card-link link-warning">Go to posted page</a>
                    <a asp-page="./Delete" asp-route-id="@item.NoticeId" class="card-link link-danger">Delete</a>
                </div>
            </div>
        </div>        
    }
</div>