@page
@model ArgoCMS.Pages.Admin.EmployeeTeams.IndexModel

@{
    ViewData["Title"] = "Employee Teams";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Admin/Employee Teams</h1>
<partial name="_AdminNavPartial" />

<h1>Employee Teams</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTeam[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTeam[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTeam[0].Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmployeeTeam) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
