@page
@using Newtonsoft.Json;
@model ArgoCMS.Pages.DashboardModel
@{
    ViewData["title"] = "Dashboard";
}

<h1>Dashboard</h1>
<hr />

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button text-snow-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                        Company Wide Notices
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">

                        @foreach (var item in Model.Notices)
                        {                            
                            <div class="col-xl-12 m-1">
                                <div class="card bg-dark_blue text-snow-white">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.NoticeTitle</h5>
                                        <h6 class="card-subtitle mb-2 text-muted d-inline">Posted by </h6>
                                        <h6 class="card-subtitle mb-2 text-muted d-inline">
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@item.Owner.Id">@item.Owner.FullName</a>
                                        </h6>
                                        <h6 class="card-subtitle mb-2 text-muted d-inline"> on @item.DateCreated</h6>
                                        <p class="card-text">@item.NoticeMessageContent</p>
                                        <a asp-page="/Notices/NoticeDetails" asp-route-id="@item.NoticeId" class="card-link">View more</a>
                                    </div>
                                </div>
                            </div>                            
                        }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 mb-3">
        <div class="row">
            <div class="col">
                <h5>Quick Links</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="card bg-dark_blue db-ql">
                    <a asp-page="Notices/Create" class="dashboard-quick-link">
                        <div class="card-body text-snow-white text-center">
                            <p class="mb-0">Create a Notice</p>
                        </div>
                    </a>
                </div>  
            </div>
            <div class="col-xl-3">
                <div class="card bg-dark_blue db-ql">
                    <a asp-page="Teams/Create" class="dashboard-quick-link">
                        <div class="card-body text-snow-white text-center">
                            <p class="mb-0">Create a Team</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card bg-dark_blue db-ql">
                    <a asp-page="Jobs/Create" class="dashboard-quick-link">
                        <div class="card-body text-snow-white text-center">
                            <p class="mb-0">Create a Job</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card bg-dark_blue db-ql">
                    <a asp-page="Projects/Create" class="dashboard-quick-link">
                        <div class="card-body text-snow-white text-center">
                            <p class="mb-0">Create a Project</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5>Employees</h5>
                    </div>
                    <div class="col-4 text-right text-center">
                        <h3>@Model.TotalEmployees</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-warning bg-gradient text-black">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-0"># total employees</p>
                    </div>
                    <div class="col-3">
                        <img src="~/images/users.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5>Teams</h5>
                    </div>
                    <div class="col-4 text-right text-center">
                        <h3>@Model.TotalTeams</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-info bg-gradient text-black">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-0"># total teams</p>
                    </div>
                    <div class="col-3">
                        <img src="~/images/shield-half.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5>Jobs</h5>
                    </div>
                    <div class="col-4 text-right text-center">
                        <h3>@Model.TotalJobsCompleted</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-primary bg-gradient text-black">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-0 text-snow-white"># total jobs completed</p>
                    </div>
                    <div class="col-3">
                        <img src="~/images/task-list.svg" class="white-svg-filter" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5>Projects</h5>
                    </div>
                    <div class="col-4 text-right text-center">
                        <h3>@Model.TotalProjectsCompleted</h3>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-light bg-gradient text-black">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="mb-0"># total projects completed</p>
                    </div>
                    <div class="col-3">
                        <img src="~/images/target.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-4">
        <div class="card mb-4 bg-dark_blue">
            <a asp-page="Jobs/Index"
                class="dashboard-card-link">
                <div class="card-header">
                    <h5>Your Jobs</h5>
                </div>
            </a>
            <div class="card-body justify-content-between align-content-between" id="userJobsChartContainer">
                <canvas id="userJobsChart" class="text-snow-white"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card mb-4 bg-dark_blue">
            <a asp-area="" asp-page="Jobs/Index"
                class="dashboard-card-link">
                <div class="card-header">
                    <h5>Team Job Statistics</h5>
                </div>
            </a>
            <div class="card-body justify-content-between align-content-between" id="teamJobChart">
                <div class="form-group mt-0">
                    <label for="teamSelector" class="mt-0">Select a Team:</label>
                    <select id="teamSelector" class="form-control">
                        @foreach (var team in Model.CurrentUser.EmployeeTeams)
                        {
                            <option value="@team.Team.TeamId">@team.Team.TeamName</option>
                        }
                    </select>
                </div>
                <canvas id="companyWideChart" class="text-snow-white"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Your Teams</h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row g-2">
                        @foreach (var item in Model.Teams)
                        {
                            <div class="col-xl-3">
                                <div class="card bg-team_dashboard_blue">
                                    <a asp-page="/Teams/TeamHome/Index" asp-route-teamId="@item.TeamId" class="dashboard-quick-link text-snow-white">
                                        <div class="card-body text-snow-white text-center db-ql">
                                            <p class="mb-0">@item.TeamName</p>
                                        </div>
                                    </a>
                                    <div class="list-group list-group-horizontal">
                                        <a asp-page="/Jobs/Create" asp-route-teamId="@item.TeamId" class="list-group-item list-group-item-action dashboard-quick-link db-ql-light text-center">
                                            Create a Job
                                        </a>
                                        <a asp-page="/Notices/Create" asp-route-teamId="@item.TeamId" class="list-group-item list-group-item-action dashboard-quick-link db-ql-light text-center">
                                            Create a Notice
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card mb-4 bg-dark_blue">
            <div class="card-header">
                <h5>Your Projects</h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row g-2">
                        @foreach (var item in Model.Projects)
                        {
                            <div class="col-xl-3">
                                <div class="card bg-team_dashboard_blue">
                                    <a asp-page="/Projects/ProjectHome/Index" asp-route-projectId="@item.ProjectId" class="dashboard-quick-link">
                                        <div class="card-body text-snow-white text-center db-ql">                                        
                                                <p class="mb-0">@item.ProjectName</p>                                        
                                        </div>
                                    </a>
                                    <div class="list-group list-group-horizontal">
                                        <a asp-page="/Jobs/Create" asp-route-projectId="@item.ProjectId" class="list-group-item list-group-item-action dashboard-quick-link text-center">
                                            Create a Job
                                        </a>
                                        <a asp-page="/Notices/Create" asp-route-projectId="@item.ProjectId" class="list-group-item list-group-item-action dashboard-quick-link text-center">
                                            Create a Notice
                                        </a>
                                    </div>
                                </div>
                            </div>                            
                        }
                    </div>
                </div>                
            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        Chart.defaults.color = "#F3F5F7";
        let jobs = @Html.Raw(JsonConvert.SerializeObject(Model.UserJobStatus));
        const jobsChart = document.getElementById('userJobsChart');
        new Chart(jobsChart, {
            type: 'doughnut',
            data: {
                labels: Object.keys(jobs),
                datasets: [{
                    data: Object.values(jobs)
                }]
            }
        });
    </script>

    <script>
        Chart.defaults.color = "#F3F5F7";
        $(document).ready(function () {
            const teamSelector = document.getElementById('teamSelector');

            if (teamSelector.value) {
                fetchTeamJobStatistics(teamSelector.value);
            }

            // Add a change event listener to the teamSelector dropdown
            teamSelector.addEventListener('change', function () {
                // Get the selected team ID from the dropdown
                let selectedTeamId = teamSelector.value;

                // Perform an AJAX request to fetch job statistics when a team is selected
                if (selectedTeamId !== '') {
                    fetchTeamJobStatistics(selectedTeamId);
                }
            });

            function fetchTeamJobStatistics(teamId) {

                $.getJSON(`/api/Dashboard/LoadTeamJobStats/${teamId}`, function (data) {
                    fetchBackgroundColours(Object.keys(data).length, function (colours) {
                        updateChart(data, colours);
                    });
                })
                .fail(function (error) {
                    console.error('Error fetching team job statistics:', error);
                });
            }

            function fetchBackgroundColours(count, callback) {
                var bgColours;
                console.log("starting background colour fetch");
                $.getJSON(`/api/Dashboard/LoadListOfColours/${count}`, function (colours) {
                    callback(colours);
                })
                .fail(function (error) {
                    console.error('Error fetching team background colours:', error);
                });
            }

            // Define a function to update the chart with new data
            function updateChart(data, colours) {
                let teamJobChart = document.getElementById("teamJobChart");
                document.getElementById("companyWideChart").remove();
                let canvas = document.createElement("canvas");
                canvas.setAttribute('id', 'companyWideChart');
                teamJobChart.appendChild(canvas);
                let companyWideChart = document.getElementById("companyWideChart");

                companyWideChart = new Chart(companyWideChart, {
                    type: 'bar',
                    data: {
                        labels: Object.keys(data),
                        datasets: [{
                            label: "Total Jobs Completed",
                            data: Object.values(data),
                            backgroundColor: colours
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                let userJobsChartContainer = document.getElementById('userJobsChartContainer');
                let companyWideChartContainer = document.getElementById('teamJobChart');

                const userJobsChartHeight = userJobsChartContainer.clientHeight;
                const companyWideChartHeight = companyWideChartContainer.clientHeight;

                // Set both containers to the height of the taller one
                if (userJobsChartHeight > companyWideChartHeight) {
                    companyWideChartContainer.style.height = userJobsChartHeight + 'px';
                } else {
                    userJobsChartContainer.style.height = companyWideChartHeight + 'px';
                }
            }
        });          

    </script>
}
