@page
@model ArgoCMS.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.OwnerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.OwnerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.TeamID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.TeamID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.PriorityLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.PriorityLevel)
        </dd>
    </dl>
</div>
<div class="mb-1">
    <a asp-page="./Edit" asp-route-id="@Model.Job?.JobId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<div>
    @foreach(var item in Model.Job.Comments)
    {
        <div class="card bg-dark_blue text-snow-white mb-2">
            <div class="card-body">
                <h5 class="card-title">@item.Owner.FullName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.CreationDate</h6>
                <p class="card-text">@item.CommentText</p>
            </div>
        </div>
    }
    <h3>Post a comment</h3>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <textarea asp-for="JobComment.CommentText" type="text" class="form-control"></textarea>
        </div>
        <input asp-for="JobComment.ParentId" type="hidden" value="@Model.Job.JobId" />
        <input asp-for="JobComment.OwnerID" type="hidden" value="" />        
        <input asp-for="JobComment.CreationDate" type="hidden" value="" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-1">Post Comment</button>
        </div>        
    </form>
</div>
