@page
@model ArgoCMS.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Jobs</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().JobStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().PriorityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().AssignedEmployeeID)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Jobs.Keys.FirstOrDefault().TeamID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jobs) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Key.JobId" class="link-primary">
                    @Html.DisplayFor(modelItem => item.Key.JobName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key.DueDate)
            </td>
            <td class="@item.Value">
                @Html.DisplayFor(modelItem => item.Key.JobStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key.PriorityLevel)
            </td>
            <td>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@item.Key.OwnerID">
                    @Model.CreatedByIdToFullName[@item.Key.OwnerID]
                </a>
            </td>
            <td>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@item.Key.AssignedEmployeeID">
                    
                    @Model.AssignedToIdToFullName[@item.Key.AssignedEmployeeID]
                </a>
            </td>
            <td>
                <a asp-page="/Teams/Index" asp-route-id="@item.Key.TeamID">
                    @Model.TeamsToFullName[item.Key.TeamID]
                </a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Key.JobId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Key.JobId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Key.JobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
